<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/html "access plus 1 hour"
ExpiresByType text/css "access plus 1 year"
ExpiresByType application/javascript "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/webp "access plus 1 year"
ExpiresByType font/ttf "access plus 1 year"
ExpiresByType font/woff "access plus 1 year"
ExpiresByType font/woff2 "access plus 1 year"
</IfModule>
<IfModule mod_headers.c>
Header set Cache-Control "public, max-age=31536000" ".css"
Header set Cache-Control "public, max-age=31536000" ".js"
Header set Cache-Control "public, max-age=31536000" ".jpg"
Header set Cache-Control "public, max-age=31536000" ".png"
Header set Cache-Control "public, max-age=31536000" ".gif"
Header set Cache-Control "public, max-age=31536000" ".webp"
Header set Cache-Control "public, max-age=3600" ".html"
Header set Cache-Control "public, max-age=2592000" ".woff"
Header set Cache-Control "public, max-age=2592000" ".woff2"
Header set Cache-Control "public, max-age=2592000" ".ttf"
</IfModule>
<IfModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file \.(html?|txt|css|js|json|xml|svg)$
mod_gzip_item_include handler ^cgi-script$
mod_gzip_item_exclude mime ^image/
mod_gzip_item_exclude rspheader ^Content-Encoding:\s*gzip
mod_gzip_item_include mime ^text/plain$
mod_gzip_item_include mime ^text/html$
mod_gzip_item_include mime ^text/xml$
mod_gzip_item_include mime ^text/css$
mod_gzip_item_include mime ^text/javascript$
mod_gzip_item_include mime ^application/javascript$
mod_gzip_item_include mime ^application/x-javascript$
mod_gzip_item_include mime ^application/json$
mod_gzip_minimum_file_size 500
mod_gzip_maximum_file_size 600000
mod_gzip_level 6
mod_gzip_temp_path /tmp/
mod_gzip_keep_workfiles Off
</IfModule>